<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Gomaie^</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<body>

	<div id="wrapper" class="container">
		<div th:replace="fragments/f-common :: g-header"></div>
		
		<div class="container-fluid search-container-fluid content" style="padding-top: 25px;">
			<div class="row">
				<!-- <div class="col-md-1"></div> -->
				<div class="col-md-12">
				  <ul class="nav nav-pills" id="search-pills">
				    <li class="active"><a data-toggle="pill" href="#search_tab"><i class="fa fa-search" aria-hidden="true"></i>  Search</a></li>
				    <li><a data-toggle="pill" href="#profile_tab"><!-- <span class="glyphicon glyphicon-user"></span> -->  View Details</a></li>
				  </ul>
			
				  <div class="tab-content">
				    <div id="search_tab" class="tab-pane fade in active">
				    <!-- <div class="content"> -->
				      <div class="row">
						<div class="col-md-12" >
							<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
											
								<div class="row">
									<div class="col-md-3">
									
										<div class="well well-sm" style="margin-top: 30px;">
											<!-- <div class="panel-heading">
											    <h3 class="panel-title">Filter</h3>
											</div> -->
											<div class="panel-body">
												<form action="#" id="FilterFormId" th:object="${profileFilter}">
													<input type="hidden" id="pageNo" name="pageNo">
													<input type="hidden" id="viewProfileId" name="viewProfileId">
													<div class="row">
														<div class="col-md-12" style="text-align: left;">
															<div class="form-group">
																<label for="gid" class="g-small-label">G-ID</label>
																<input type="text" id="gid" name="gid" placeholder="G-ID" class="form-control" maxlength="10" autofocus>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12" style="text-align: left;">
															<div class="form-group">
																<label for="name" class="g-small-label">Name</label>
																<input type="text" id="name" name="name" placeholder="Name" class="form-control" maxlength="40">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12" style="text-align: left;">
															<div class="form-group">
																<label for="city" class="g-small-label">City or Town</label>													
																<input type="text" id="city" name="city" autocomplete="off" placeholder="City or Town" class="form-control typeahead">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12" style="text-align: left;">
															<div class="form-group">
																<label for="education" class="g-small-label">Education</label>
																<select id="education" name="education" class="selectpicker show-menu-arrow" multiple class="form-control" data-size="6" data-max-options="3" data-live-search="true">
																	<option value="0">Nothing selected</option>
																	<option th:each="option:*{degreeOptions}" th:value="${option.id}" th:text="${option.degree}" ></option>
																</select>
															</div>
														</div>
													</div>
													<div class="row" style="margin-top: 20px;">
														<div class="col-md-6" style="text-align: right; padding-right: 0px;">
															<button type="submit" class="btn btn-primary btn-sm text-uppercase g-btn-text">
																<span style="font-weight: 600; font-size: 14px;">
																<i class="fa fa-search" aria-hidden="true"></i>
																	Search
																</span>
															</button>
														</div>
														<div class="col-md-6" style="text-align: left; padding-left: 10px;">
															<button type="button" class="btn btn-link btn-sm text-uppercase g-btn-text" onclick="clearProfileFilter()"> 
																<span style="font-weight: 600; font-size: 14px;">
																	Clear
																</span>
															</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="col-md-9">
										<div id="SearchResultDivId">
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- <div class="col-md-1"></div> -->
					</div>
					<!-- </div> -->
				    </div>
				    <div id="profile_tab" class="tab-pane fade">
				    	<!-- <div class="content"> -->
				      		<div class="row">
								<div class="col-md-12" >
				    				<div class="container-fluid"">
										<div class="row">
											<div class="col-md-1"></div>
									      	<div class="col-md-10">
												<div id="ViewDetailsDivId">
													<div class="row" style="padding-top: 20px;">
														<div class="col-md-12">
															<div class="alert alert-warning" role="alert">
																<span class="fa fa-info-circle" aria-hidden="true" style="padding-right: 5px;"></span><b>Please search profile and click on View Details link to view profile.</b>
															</div>		
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-1"></div>
										</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
				    </div>
				  </div>
			  </div>
			  <!-- <div class="col-md-1"></div> -->
			</div>
		</div>
		
		<div th:replace="fragments/f-common :: g-footer"></div>
	</div>
	<script type="text/javascript" th:src="@{/js/app/search.js}"></script>
</body>
</html>
								