<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Gomaie^</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<body>

	<div id="wrapper" class="container-fluid">
		<div id="header" class="g-header" th:fragment="g-header">
			<link rel="stylesheet" th:href="@{/css/style.css}">
			<div class="row">
				<div class="col-md-12">
				
					<nav class="navbar navbar-default navbar-fixed-top">
						<div class="navbar-header" style="float: none;">
							<div class="row">
								<div class="col-md-1">
									<!-- <h1>LHS</h1> -->
								</div>
								<div class="col-md-10 one-edge-shadow">
									<div class="row">
										<div class="col-md-2">
											<div class="g-header-img-div">
												<!-- <span th:if="${session.SERVICE == 'IDENTITY'}">
													<img alt="img" th:src="@{/assets/img/gomaie_logo.png}" width="140px;" class="img-rounded img-responsive"/>
												</span> -->
												
												<!-- <img alt="img" th:src="@{/assets/img/gomaie_logo.png}" width="140px;" class="img-rounded img-responsive"/> -->
												
												<div th:switch="${session.SERVICE}">
												  <span th:case="IDENTITY"><img alt="img" th:src="@{/assets/img/g-id.png}" width="160px;" class="img-rounded img-responsive"/></span>
												  <span th:case="JOB"><img alt="img" th:src="@{/assets/img/g-job.png}" width="160px;" class="img-rounded img-responsive"/></span>
												  <span th:case="SAGAI"><img alt="img" th:src="@{/assets/img/g-sagai.png}" width="210px;" height="40px;" class="img-rounded img-responsive"/></span>
												  <span th:case="*"><img alt="img" th:src="@{/assets/img/gomaie_logo.png}" width="140px;" class="img-rounded img-responsive"/></span>
												</div>
												
											</div>
											
										</div>
										
										<div class="col-md-10">
											<div class="row g-header-above-menu">
												<div class="col-md-12" style="padding-top: 2px;">
													<div class="g-header-signed-in" th:if="${#authentication.name != 'anonymousUser'}">Signed in as <span class="g-text-bold" th:text="${#authentication.name}"></span> &nbsp;&nbsp;&nbsp;
														<!-- <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></button> -->
														
														<ul class="nav navbar-top-links navbar-right">
											                <li class="dropdown">
											                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" style="padding-top: 1px;padding-right: 2px;margin-right: 5px;padding-bottom: 2px;padding-left: 2px;">
											                        <span class="glyphicon glyphicon-user"></span> <span class="glyphicon glyphicon-triangle-bottom"></span>
											                    </a>
											                    <ul class="dropdown-menu dropdown-user">
											                    	<li><a th:href="@{/service/switch/1}"><i class="fa fa-address-book"></i>&nbsp;Identity</a></li>
											                    	<li><a th:href="@{/service/switch/3}"><i class="fa fa-id-card"></i>&nbsp;Job</a></li>
											                    	<li><a th:href="@{/service/switch/2}"><i class="fa fa-handshake-o"></i>&nbsp;Sagai</a></li>
											                    	<!-- <li><a th:href="@{/todo/home}"><i class="fa fa-th-list"></i>&nbsp;Todo</a></li> -->
											                        <li class="divider"></li>
											                        <li><a th:href="@{/account-settings}"><i class="fa fa-gear fa-fw"></i>&nbsp;Account Settings</a></li>
											                        <li><a th:href="@{/signout}"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Sign out</a></li>
											                    </ul>
											                </li>
											            </ul>
											            
														<!-- <div class="btn-group">
														  <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														    Account <span class="caret"></span>
														  </button>
														  <ul class="dropdown-menu">
														    <li><a href="#">Action</a></li>
														    <li><a href="#">Another action</a></li>
														    <li><a href="#">Something else here</a></li>
														    <li role="separator" class="divider"></li>
														    <li><a href="#">Separated link</a></li>
														  </ul>
														</div> -->
													
													</div>
													<div class="g-header-signed-in" th:if="${#authentication.name != 'anonymousUser'}"></span></div>
												</div>
											</div>
											<input type="hidden" id="ctxPath" name="ctxPath" th:value="@{/}">
											<div class="row" >
												<div class="col-md-12">
													<nav class="navbar navbar-default">
													  <div class="container-fluid g-menu-container">
													    <div class="navbar-header">
													      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#g-navbar-collapse-id" aria-expanded="false">
													        <span class="sr-only">Toggle navigation</span>
													        <span class="icon-bar"></span>
													        <span class="icon-bar"></span>
													        <span class="icon-bar"></span>
													      </button>
													    </div>
													    
													    <div class="collapse navbar-collapse g-menu-collapse" id="g-navbar-collapse-id" th:if="${#authentication.name == 'anonymousUser'}">
													    	<ul class="nav navbar-nav navbar-right"> 
																<li th:classappend="${MENU_TAB == 'register'}? 'active'"><a th:href="@{/register}">Sign in or Register</a></li>
																<li th:classappend="${MENU_TAB == 'services'}? 'active'"><a th:href="@{/services}" class="g-menu" >Services</a></li>
																<li th:classappend="${MENU_TAB == 'features'}? 'active'"><a th:href="@{/features}" class="g-menu">Features</a></li>
																<li th:classappend="${MENU_TAB == 'how-it-works'}? 'active'"><a th:href="@{/how-it-works}">How it works</a></li>
																<!-- <li><a href="#section4">Pricing</a></li> -->
																<!-- <li class="dropdown">
																  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
																  <ul class="dropdown-menu">
																	<li><a href="home.html" class="g-sub-menu-a">Home</a></li>
																	<li><a href="search.html" class="g-sub-menu-a">Search</a></li>
																	<li><a href="header.html" class="g-sub-menu-a">Header</a></li>
																	<li><a href="footer.html" class="g-sub-menu-a">Footer</a></li>
																  </ul>
																</li> -->
															</ul>
													   	 </div>
													   	 
													   	  <div class="collapse navbar-collapse g-menu-collapse" id="g-navbar-collapse-id" th:if="${#authentication.name != 'anonymousUser' && session.SERVICE == 'IDENTITY'}">
														      <ul class="nav navbar-nav navbar-right" style="padding-right: 5px;"> 
														        <li th:classappend="${session.TAB == 'id_home'}? 'active'"><a th:href="@{/id/home}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
														        <li th:classappend="${session.TAB == 'id_search'}? 'active'"><a th:href="@{/id/search}">Search</a></li>
														        <li th:classappend="${session.TAB == 'id_update_profile'}? 'active'"><a th:href="@{/id/update}">Update Profile</a></li>
														        <li th:classappend="${session.TAB == 'id_view_profile'}? 'active'"><a th:href="@{/id/preview}">View Profile</a></li>
														      </ul>
											   			 </div>
											   			 
											   			 <div class="collapse navbar-collapse g-menu-collapse" id="g-navbar-collapse-id" th:if="${#authentication.name != 'anonymousUser' && session.SERVICE == 'JOB'}">
														      <ul class="nav navbar-nav navbar-right" style="padding-right: 5px;"> 
														        <li th:classappend="${session.TAB == 'job_home'}? 'active'"><a th:href="@{/job/home}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
														        <li th:classappend="${session.TAB == 'job_search'}? 'active'"><a th:href="@{/job/search}">Search</a></li>
														        <li th:classappend="${session.TAB == 'job_update_resume'}? 'active'"><a th:href="@{/job/update}">Update Resume</a></li>
														        <li th:classappend="${session.TAB == 'job_view_resume'}? 'active'"><a th:href="@{/job/preview}">View Resume</a></li>
														      </ul>
											   			 </div>
											   			 
													    <!-- <span th:text="${session.SERVICE}+' '+Service" class="text-capitalize"></span> -->
													    <div class="collapse navbar-collapse g-menu-collapse" id="g-navbar-collapse-id" th:if="${#authentication.name != 'anonymousUser' && session.SERVICE == 'SAGAI'}">
													      <ul class="nav navbar-nav navbar-right" style="padding-right: 5px;"> 
													        <li th:classappend="${session.TAB == 'sagai_home'}? 'active'"><a th:href="@{/profile/home}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
													        <li th:classappend="${session.TAB == 'sagai_search'}? 'active'"><a th:href="@{/profile/search}">Search</a></li>
													        <li th:classappend="${session.TAB == 'sagai_update_profile'}? 'active'"><a th:href="@{/profile/update}">Update Profile</a></li>
													        <li th:classappend="${session.TAB == 'sagai_preview_profile'}? 'active'"><a th:href="@{/profile/preview}">Preview Profile</a></li>
													        <li th:classappend="${session.TAB == 'sagai_shortlisted_profiles'}? 'active'"><a th:href="@{/profile/shortlisted}">Shortlisted Profiles <span class="badge" th:if="${session.noOfShortlistedProfiles > 0}"} th:text="${session.noOfShortlistedProfiles}"></span></a></li>
													        <!-- <li class="dropdown" th:classappend="${session.TAB == 'more'}? 'active'">
													          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> More <i class="fa fa-caret-down"></i></a>
													          <ul class="dropdown-menu"> -->
													            <!-- <li><a th:href="@{/profile/messages}" class="g-sub-menu-a">Messages <span class="badge" th:if="${session.noOfUnreadMessages > 0}"} th:text="${session.noOfUnreadMessages}"></span></a></li> -->
													            <!-- <li class="active"><a th:href="@{/profile/account-settings}" class="g-sub-menu-a">Privacy Settings </a></li> -->
													            <!-- <li><a th:href="@{/profile/account-settings}" class="g-sub-menu-a">Account Settings</a></li> -->
													            <!-- <li role="separator" class="divider"></li> -->
													            <!-- <li><a th:href="@{/signout}" class="g-sub-menu-a">Sign out</a></li> -->
													          <!-- </ul>
													        </li> -->
													      	</ul>
											   	 		</div>
												   	 		
													 	 </div>
														</nav>
													</div>
												</div>	
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<!-- <h1>RHS</h1> -->
									</div>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		
			<div class="content">
				
			</div>
			
			<div id="footer" th:fragment="g-footer" class="container">
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-1"></div>
					<div class="col-md-10">
				<div class="row">
					<div class="col-md-1"></div> -->
					<div class="col-md-12 g-footer-div">
						<div class="row">
							<div class="col-md-8 g-footer-div-div">
								<b>About Gomaie:</b>
								<p>Lorem Ipsum is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>	
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-3 g-footer-div-div">
								<div>Contact</div>
								<div>Terms</div>
								<div>Privacy Policy</div>
								<div>Frequently Asked Questions</div>							
							</div>
						</div>
						<div class="row">
							<div class="col-md-6" style="text-align: left;">
								Pages: <a href="#" class="g-pages-link">Sign in or Register</a> | <a href="#" class="g-pages-link">Home</a> | <a href="#" class="g-pages-link">Search</a> | <a href="#" class="g-pages-link">My Profile</a> | <a href="#" class="g-pages-link">Log out</a>
							</div>
							<div class="col-md-2">
								<div class="g-footer-logo">Gomaie^</div>
							</div>
							<div class="col-md-4">
								<div class="g-copyright-text" >©2016 All rights reserved.</div>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-1"></div>
				</div>
				</div>
				<div class="col-md-1"></div>
				</div> -->
				 </div>
				 </div>
				<!-- Javascript -->
			    <script type="text/javascript" th:src="@{/assets/components/jquery/dist/jquery.min.js}"></script>
				<script type="text/javascript" th:src="@{/assets/components/bootstrap/dist/js/bootstrap.min.js}"></script>
				<script type="text/javascript" th:src="@{/assets/components/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
				<script type="text/javascript" th:src="@{/assets/components/lightbox2/dist/js/lightbox.js}"></script>
				<script type="text/javascript" th:src="@{/assets/components/typeahead.js/dist/typeahead.bundle.js}"></script>
				<script type="text/javascript" th:src="@{/js/app/g-common.js}"></script>
			</div>
	</div>

</body>
</html>