<!DOCTYPE html>
<html lang="en">
<head></head>
<body onload="onloadFoo()">
<div class="panel panel-info">
	<div class="panel-body" style="padding-left: 20px;" th:fragment="photoInfoView" id="photoInfoSectionBody">
		<div class="row" style="padding-left: 30px;">
			<div class="col-md-12">
				<form action="#" method="post" role="form" class="form-horizontal">
					<fieldset>
						<div class="form-group form-group-sm">
							<div class="row" style="padding-bottom: 10px;">
								<div class="col-md-1"></div>
								<div class="col-md-10" style="text-align: center;" th:if="${photoInfo != null && photoInfo.photos != null && not #lists.isEmpty(photoInfo.photos)}">
									<div class="row" style="text-align: center;">
										<div class="col-md-3" style="display: inline-block; float: none; text-align:left; margin-right:-4px;" th:each="photo,photoStat : ${photoInfo.photos}">
											<div class="card">
										        <div class="card-header" style="text-align: center;" >
										        	<span th:if="${photo.isPrimary != null && photo.isPrimary}" style="text-align: center;">
														Primary
													</span>
										        </div>
										        <a class="thumbnail"  th:attr="href='loadImage/'+${photo.fileName}" data-lightbox="example-set" th:attrappend="data-title=''+${photo.title}" >
													<img class="g-img img-rounded img-responsive" th:src="'loadImage/'+${photo.fileName}" alt="p1">
												</a>
										        <!-- <div class="card-block">
										            <a href="#" class="card-link" style="display: inline;">c</a>
										        </div> -->
										        <div class="card-footer text-muted">
										            <span th:text="${photo.title}+' Photo '+${photoStat.count}"></span> 
										        </div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-10" style="text-align: center;" th:if="${photoInfo == null || photoInfo.photos == null || #lists.isEmpty(photoInfo.photos)}">
									<div class="row" style="text-align: center;">
										<div class="col-md-12">
											No photos found.
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
							</div>
						</div>
					</fieldset>
					<div class="row" style="padding-top: 20px;">
						<div class="col-md-12" style="text-align: center;">
							<button id="personal-info-edit-btn"	class="btn btn-primary btn-sm" type="button" style="width: 100px;" onclick="editInfo('Photo')">
								<span class="text-uppercase g-btn-text">Edit</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="panel-body" style="padding-left: 20px;" th:fragment="photoInfoEdit" id="photoInfoSectionBody">
		<div class="row" style="padding-left: 30px;">
			<div class="col-md-12">
				<form action="#" method="post" role="form" class="form-horizontal">
					<fieldset>
						<legend style="font-size: 13px;">Select Primary Photo</legend>
						<div class="form-group form-group-sm">
							<div class="row" style="padding-bottom: 10px;">
								<div class="col-md-1"></div>
								<div class="col-md-10" style="text-align: center;" th:if="${photoInfo != null && photoInfo.photos != null && not #lists.isEmpty(photoInfo.photos)}">
									<div class="row" style="text-align: center;">
										<div class="col-md-3" style="display: inline-block; float: none; text-align:left; margin-right:-4px;" th:each="photo : ${photoInfo.photos}">
											<!-- <a class="thumbnail"  th:attr="href='loadImage/'+${photo.fileName}" data-lightbox="example-set" th:attrappend="data-title=''+${photo.title}" >
												<img class="g-img img-rounded img-responsive" th:src="'loadImage/'+${photo.fileName}" alt="p1">
											</a>
											 -->
											
											<div class="card">
										        <div class="card-header" style="text-align: center; padding-bottom: 5px;">
										        	<span th:if="${photo.isPrimary != null && photo.isPrimary}" style="text-align: center;">
														Primary
													</span>
													<a href="javascript:void(0)" class="btn btn-link btn-xs" th:if="${photo.isPrimary == null || !photo.isPrimary}" th:attr="onclick='makePrimary('+${photo.photoId}+'); return false; '" >Make Primary</a>
										        </div>
										        <a class="thumbnail"  th:attr="href='loadImage/'+${photo.fileName}" data-lightbox="example-set" th:attrappend="data-title=''+${photo.title}" >
													<img class="g-img img-rounded img-responsive" th:src="'loadImage/'+${photo.fileName}" alt="p1">
												</a>
										        <div class="card-block" style="text-align: center;">
										            <a href="#" class="btn btn-link btn-xs" th:attr="onclick='removePic('+${photo.photoId}+')'">Remove</a>
										        </div>
											</div>
										</div>
										<!-- <div class="card-deck-wrapper">
  										<div class="card-deck"> -->
											<!-- <div class="card" th:each="photo : ${photoInfo.photos}">
										        <div class="card-header">
										        </div>
										        <img class="g-img img-rounded img-responsive" src="loadImage/1_Sagai_19" alt="p1"> -->
										        <!-- <div class="card-block">
										            <a href="#" class="card-link">Card link</a>
										            <a href="#" class="card-link">Another link</a>
										        </div> -->
										        <!-- <div class="card-block">
										            <h4 class="card-title"></h4>
										            <h6 class="card-subtitle text-muted"></h6>
										            <p class="card-text"></p>
										        </div> -->
										        <!-- <div class="card-block">
										            <a href="#" class="btn btn-primary">Button</a>
										        </div>
										        <div class="card-footer text-muted">
										            This is a card footer
										        </div> -->
										   <!--  </div>
										</div> -->
									<!-- </div>
									</div> -->
										<!-- <div class="col-md-12">
											<label>
											  <input type="radio" name="pic" id="p1" value="p1">
											</label>
										</div>
										<div class="col-md-12">
											<a class="thumbnail" href="loadImage/1_Sagai_19" data-lightbox="example-set" data-title="p1">
												<img class="g-img img-rounded img-responsive" src="loadImage/1_Sagai_19" alt="p1">
											</a>
										</div>
										<div class="col-md-12">
											<label>
											  <input type="radio" name="pic" id="p1" value="p1">
											</label>
										</div>
										<div class="col-md-12">
											<a class="thumbnail" href="loadImage/1_Sagai_19" data-lightbox="example-set" data-title="p1">
												<img class="g-img img-rounded img-responsive" src="loadImage/1_Sagai_19" alt="p1">
											</a>
										</div> -->
									</div>
								</div>
								<div class="col-md-1"></div>
							</div>
						</div>
					</fieldset>
					<!-- <div class="form-group form-group-sm" style="padding-top: 20px;">
						<div class="col-md-12" style="text-align: center;">
							<button id="photo-info-save-btn" class="btn btn-primary btn-sm" type="button" style="width: 100px;" onclick="saveInfo('Photo')">
								<span class="text-uppercase g-btn-text">Save</span>
							</button>
							<button id="photo-info-save-btn" class="btn btn-primary btn-sm" type="button" style="width: 100px;" onclick="cancelEdit('Photo')">
								<span class="text-uppercase g-btn-text">Cancel</span>
							</button>
						</div>
					</div> -->
				</form>
				<fieldset>
					<legend style="font-size: 13px;">Upload Photo(s):</legend>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-1"></div>
						<div class="col-md-10">
						
							<div th:if="${#lists.size(photoInfo.photos) < 2}" >
							<form id="upload-file-form">
								<div id="kv-avatar-errors-1" class="center-block" style="display:none"></div>
								
								<input id="uploadfile" name="uploadfile" type="file" class="file-loading form-control input-xs"  accept="image/x-png, image/jpeg">
								
								<script th:inline="javascript">
								      /*<![CDATA[*/
								                 
								     	$("#uploadfile").fileinput({
								     		showCaption: true,
								     		showPreview: false,
								     		showRemove: false,
								     		showCancel: false,
								     		maxFileCount: 1,
								     		allowedFileExtensions: ["jpg", "png"],
								     		uploadUrl: "uploadFile",
								            maxFileSize: 100,
								            elErrorContainer: '#kv-avatar-errors-1',
								            msgErrorClass: 'alert alert-block alert-danger'
								     	}).on('fileuploaded', function(event, data, msg) {
								     	    console.log('File upload success.');
									     	// get message
									     	// alert(msg);
									    }).on('fileuploaderror', function(event, data, msg) {
									     	   /*  var form = data.form, files = data.files, extra = data.extra,
									     	        response = data.response, reader = data.reader; */
									     	   console.log('File upload error');
									     	   // get message
									     	   //alert("Problem while uploading file, please try again later.");
									    });
								     	
								     	/* fileclear

								     	filecleared

								     	filereset

								     	fileerror

								     	fileuploaderror

								     	filebatchuploaderror

								     	filedeleteerror

								     	filefoldererror

								     	filecustomerror

								     	fileuploaded

								     	filebatchuploadcomplete

								     	filebatchuploadsuccess */
								     	
							      		/* 
							      		$("#uploadfile").fileinput({
							      			
							      					
							      			// setup initial preview with data keys
							      			initialPreview: [],
							      			// initial preview configuration
							      			initialPreviewConfig: [
							      			   {
							      			        caption: 'desert.jpg',
							      			        width: '120px',
							      			        url: 'removeFile',
							      			        key: 100,
							      			        extra: {id: 100}
							      			    },
							      			    {
							      			        caption: 'jellyfish.jpg', 
							      			        width: '120px', 
							      			        url: 'removeFile', 
							      			        key: 101, 
							      			        frameClass: 'my-custom-frame-css',
							      			        frameAttr: {
							      			            style: 'height:80px',
							      			            title: 'My Custom Title',
							      			        },
							      			        extra: function() { 
							      			            return {id: $("#id").val()};
							      			        }
							      			    }
							      			],
							      		    initialPreviewAsData: false,
							      		  	showUpload: false,
							      		    uploadUrl: "uploadFile",
							      		    deleteUrl: "removeFile",
							      		    overwriteInitial: false,
							      		    maxFileSize: 10,
							      		    allowedFileExtensions: ["jpg"],
							      		    initialCaption: "No file selected"
							      		}); */
								      
							      		//$("#uploadfile").on("change", uploadFile);
							      		
							      		/**
							      		 * Upload the file sending it via Ajax at the Spring Boot server.
							      		 */
							      		/* function uploadFile() {
							      		  
							      			alert(" uploadfile 486 ");
							      			$.ajax({
							      			    url: "uploadFile",
							      			    type: "POST",
							      			    data: new FormData($("#upload-file-form")[0]),
							      			    enctype: 'multipart/form-data',
							      			    processData: false,
							      			    contentType: false,
							      			    cache: false,
							      			    success: function () {
							      			      // Handle upload success
							      			      // ...
							      			    	alert(" uploadfile 486 ");
							      			    },
							      			    error: function () {
							      			      // Handle upload error
							      			    	alert(" uploadfile 486 ");
							      			    }
							      			});
							      		}  */// function uploadFile
							      		
								       /*]]>*/
								</script> 
								
							</form>
							</div>
							<div th:if="${#lists.size(photoInfo.photos) >= 2}">
								<div class="alert alert-danger" role="alert">Cannot upload more than 2 photos. Please remove photo to upload another photo.</div>
							</div>
							
			         	</div>
			         	<div class="col-md-1"></div>
				   	</div>
				</fieldset>
				<div class="form-group form-group-sm" style="padding-top: 20px;">
					<div class="col-md-12" style="text-align: center;">
						<!-- <button id="photo-info-save-btn" class="btn btn-primary btn-sm" type="button" style="width: 100px;" onclick="saveInfo('Photo')">
							<span class="text-uppercase g-btn-text">Save</span>
						</button> -->
						<button id="photo-info-save-btn" class="btn btn-primary btn-sm" type="button" style="width: 100px;" onclick="cancelEdit('Photo')">
							<span class="text-uppercase g-btn-text">Done</span>
						</button>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

/* $(document).ready(function() {
	console.log(  "  120 ");	
});


function onloadFoo(){
	console.log(" 124 ");
	$("#photo-upload").fileinput({
	    initialPreview: [
	    ],
	    initialPreviewAsData: true,
	    initialPreviewConfig: [
	    ],
	    deleteUrl: "/site/file-delete",
	    overwriteInitial: false,
	    maxFileSize: 100,
	    initialCaption: "No file selected"
	});
} */




</script>

</body>
</html>
